body {
  min-height: 100vh;
  display: flex; /* it works with grid too  */
  justify-content: center;
  align-items: center;
  background-image: url(imgs/background-pattern-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: hsl(276, 100%, 97%);
}

.faqContainer {
  height: 600px;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
}
